.MovieImage {
    margin-top: 50px;
    margin-left: 40px;
    width: 400px;
    height: 600px;
}

.MovieContainer {
    width: 100%;
    height: 700px;
    margin: 0;
    background-image:url("../../img/search-page-background.jpg");
    display: flex;
}
 .MovieTitle {
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .detailsContainer {
     width: 100%;
 }
 .movieTitleContainer {
     display: flex;
     justify-content: center;
 }
.movieInfoContainer {}
 .MovieTitle {
     font-size: xx-large;
     font-weight: bolder;
 }
.MovieYear {
    color: white;
    font-size: x-large;
}
 