.container-content img{
    width : 100%;
   
    
}
.container-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;

}
.content-container-movies{
    width: 30%;
    box-sizing: border-box;
    background-color: lightgrey;
    margin: 10px 10px;
   
}