.movie-title{
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;

}
.movie-genre {
  margin-top: 5px;
  font-size: 12px;
  color: lightgray;
  text-shadow: 1px 1px #000000;
  margin-left: 5px;
  height: 40px;
}
.movie-year {
  margin-top: 5px;
  font-size: 15px;
  color: lightgray;
  text-shadow: 1px 1px #000000;
  text-align: center;
}

.movie-raiting-number {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 12px;
  color: lightgray;
  text-shadow: 1px 1px #000000;
  word-spacing: 30px;
  color: rgb(202, 157, 34);
  text-align: center;
  text-shadow: 1px 1px #000000;
}
.movie-language{
    margin-left: 5px;
    color: lightgray;
    text-shadow: 1px 1px #000000;
    font-size: 12px;
}
.movie-country{
    margin-left: 5px;
    color: lightgray;
    text-shadow: 1px 1px #000000;
    font-size: 12px;
}
.movie-runtime{
    margin-left: 5px;
    color: lightgray;
    text-shadow: 1px 1px #000000;
    font-size: 12px;
}