.paginationContainer {
    display: flex;
    justify-content: center;
}

.active a {
    color:white;
    background-color: #ff5860;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: larger;
    
    
}

.pagination {
    display: flex;
}
.pagination li {
    
    display: flex;
    justify-content: center;
    width: 37px;
    height: 35x;
    border: solid 1px rgb(63, 62, 62);
    margin: 3px;
    background-color: #3e3e41;
    font-size: larger;
    transition: transform 250ms;
    
}

.pagination li:hover {
    box-shadow: 0 5px 15px #ff5860;
    transform: translateY(-3px);
}

.pagination li a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    
}