.FooterContainer p {
    color: white;
}

.FooterContainer { 
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px; */
    
    height: 250px;
    border-top: solid 4px #ff5860

}
.titleTags {
    color: white;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    border-bottom: solid 2px  #ff5860;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.infoContainer {
    margin-top: 10px;
    width: 25%;
    /* height: 100%; */
    /* background-color: thistle; */
}
.detailsContainer {
    margin-top: 10px;
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detailsContainer p{
    margin:0;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-4px);
    color: #ff5860;
    box-shadow: 0 5px 15px #ff5860;
}

a.youtube{
    color:#eb3726;
}

a.facebook {
    color:#4968ad;
}

a.twitter {
    color:#49a1eb;
}

a.instagram{
    color:rgb(212, 101, 166)
}

a.detailsContainer p{
    color: tomato;
}

a.shortcutsLinks p {
    transition: transform 250ms;
}

a.shortcutsLinks p:hover {
    transform: translateY(-3px);
    color: #ff5860;
    text-decoration: none;
    text-shadow: 0 5px 15px #ff5860;;
    
}

a.shortcutsLinks:hover {
    text-decoration: none;
}